<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="FlatObject.FirstProperty" value="First Prop Value" />
    <Parameter name="FlatObject.SecondProperty" value="Second Prop Value" />
  </TestRunParameters>
</RunSettings>